
body {
    background-color: lavender;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, textarea{
    font-family: 'Times New Roman', Times, serif;
}


header {
    width: 75%;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: skyblue;
    height: 150px;
}

main {
    width: 75%;    
}

form label{
    display: block;
}

  
img {
    padding-top: 0;
    height: 150px;
    float: left;
}

header h1{
    display: inline;
    text-align: right;
}

ol {
    text-align: left;

}

@media (max-width: 500px) {
    #reviews {
      display: none;
    }
}
  
 

 
