
body {
    background-color: lavender;
    font-family: monospace;
    display: flex;
    flex-direction: column;

}


header {
    width: 75%;
    display: grid;
    display: inline;
    background-color: skyblue;
    height: auto;

  }



  
  img {
    padding-top: 0;
    height: 150px;
    float: left;
  }
  header h1{
    display: inline;
    text-align: right;


  }
 

 
